
<a asp-action="Level" asp-controller="Home">@GameMode.PlayerVsComputer</a>
<a asp-action="ComputerVsComputer" asp-route-mode="@GameMode.ComputerVsComputer" asp-controller="Home">@GameMode.ComputerVsComputer</a>