
<a asp-action="PlayerVsComputer" asp-route-mode="@GameMode.PlayerVsComputer" asp-controller="Home">Beginner</a>
<a asp-action="PlayerVsComputer" asp-route-mode="@GameMode.PlayerVsComputer" asp-controller="Home">Intermediate</a>
<a asp-action="PlayerVsComputer" asp-route-mode="@GameMode.PlayerVsComputer" asp-controller="Home">Advance</a>

<div><a asp-action="Index" asp-controller="Home">Go Home</a></div>
